.editor {
  width: 640px;
  background-color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fileName {
  color: black;
  align-self: flex-start;
}
