.editor {
  width: 640px;
  background-color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px 5px grey;
}

.editorNav {
  display: block;
}

.saveBtn {
  float: right;
}

.fileName {
  color: black;
  align-self: flex-start;
  float: left;
}

.codeEditor {
  padding: 10px;
  font-family: '"Fira code", "Fira Mono", monospace';
  font-size: 12px;
}
